{% extends 'index/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="text-center display-5">About Us</h2>
    <div class="row my-md-5 gap-3 mr">
        
        <div class="col-md-6 bg-light p-3 rounded">
            <h3>About Us - Yasel Tech</h3>
            <p>
                Welcome to Yasel Tech, where innovation meets convenience in the world of technology.
                 We take pride in being your trusted destination for all things computers and accessories. At Yasel Tech, our mission is to provide you with a seamless 
                and rewarding shopping experience, bringing the latest in tech right to your fingertips.
            </p>
        </div>
        <div class="col-md-5 bg-info p-3 rounded">
            <h3>Our Vision</h3>
            <p>
                                
                We envision a digital landscape where everyone has access to cutting-edge technology
                that enhances their lives. Yasel Tech is committed to being a catalyst
                for this vision by offering a diverse range of high-quality computers and accessories.
            </p>
        </div>
    </div>
</div>

{% endblock %}