{% load static %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-12 col-lg-6" style="margin:0 auto; padding:0;">
        <img src="{% static 'images/code.jpg' %}" class="d-block mx-lg-auto img-fluid  rounded" alt="yasell" width="500" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <small class="text-primary lead">Unleash Possibilities</small>
        <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">Upgrade Your Digital Realm: </h1>
        <p class="lead">Explore High-Tech Wonders in Computers and Accessories!<br>
            Welcome to Yasel Tech, where innovation meets convenience in the world of technology.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Explore</button>
        </div>
      </div>
    </div>
</div>